* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   color: #fff;
}

html , body{
    height: 100%;
    width: 100%;
}
#nav {
    height: 145px;
    width:100%;
    background-color: red;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-start;
    padding: 0 150px;
}
#nav img{
    height: 80px;
}